<!DOCTYPE html>
<html>
<head>
  <title>Ticket it</title>
  <%= stylesheet_link_tag    "ticket_it/application", media: "all" %>
  <%= javascript_include_tag "ticket_it/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <ul>
    <li><%= link_to 'Dashboard', tickets_path %></li>
    <li><%= link_to 'Tickets', tickets_path %></li>
  </ul>
</nav>
<%= yield %>

</body>
</html>
